@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.wave {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1; //place behind everything
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;

  &__svg {
    width: 100%;
    height: 100%;
  }

  &__line {
    opacity: 0.8;
    transition: opacity 0.3s ease;
  }
}

button {
  @include main-button;
  width: auto;
  padding: 1rem;
  border-radius: 1.5rem;
  z-index: 10; // keep buttons on top of the animation
}

.start-button {
  @include main-button;
  color: inherit;
  width: auto;
  padding: 0 32px;
  border-radius: 0.9375rem;
}
