// typography
$font-primary: "Outfit", sans-serif;
$font-secondary: "Fraunces", serif;
//breakpoints
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

//colors
$dark-bg: #1e1e1e;
$dark-text: #ffffff;
$dark-secondary-bg: #2d2d2d; // for cards, elements
$dark-border: #3a3a3a;
$light-bg: #f5f0e8;
$light-text: $dark-bg;
$light-secondary-bg: #eae3d7;
$light-border: #d1c7b7;
