@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.next-button {
  color: inherit;
  margin: 0 auto;
  align-self: center;
  width: auto;
  padding: 0 1rem;
  transition: transform 0.4s;
  opacity: 100%;
  position: relative;
  z-index: 999;

  &:hover {
    filter: brightness(150%);
    transform: scale(1.5);
  }
}
