@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.card {
  width: 100%;
  padding: 1rem;
  max-width: 100%;
  height: auto;
  min-height: 10rem;
  // font-size: 3.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.25rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  font-family: $font-secondary;
  font-weight: 600;
  @include tablet {
    width: 20rem;
    font-size: 2.5rem;
  }
}
