@use "../../styles/partials/mixins" as *;

.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;

  &__content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 1.5rem 2rem 2rem 2rem;
  }

  &__button {
    @include main-button;
  }
}
